{% extends "parent.html" %}

{% block title %}
  Comment Page
{% endblock %}

{% block content %}
  <h1> Behold, {{ title }} by  {{ author }} </h1>
  {{ last }} <br><br>
  <form action="/addComment/" method = "POST">
    Add to the story:<br><input type = "text" name="comment">
    <br><input type = "submit" name = "action" value="Add">
    <input type = "hidden" name = "title" value = "{{title}}">
  </form>
  <br><br>
  <form action = "/home/">
    <input type = "submit" value = "Return to Home">
  </form>
{% endblock %}
