<!DOCTYPE html>
<html>
  <head>
    <title> Home Page </title>
  </head>

  <style>
    body {text-align: center}
  </style>

  <body>
    <h1> Welcome {{ user }} </h1>

    <form action = "/write/">
      <input type = "submit" name = "action" value = "Write new story">
    </form>

    {% for story in stories %}
      <h2> {{ story }} </h2>
      {% for i in stories[story] %}
        <p> {{ i[1]}}: {{ i[0] }} </p>
      {% endfor %}
    {% endfor %}

    <form action = "/logout/">
      <input type = "submit" name = "action" value = "Logout">
    </form>
  </body>
</html>
