{% extends "parent.html" %}

{% block title %}
  Home Page
{% endblock %}

{% block content %}
    <h1> Welcome {{ user }} </h1>

    <form action = "/write/">
      <input type = "submit" name = "action" value = "Write new story">
    </form>

    <h1> Stories you haven't contributed to: </h1>
    <h2> {{ nonMsg}} </h2>
    {% for story in nonStories %}
      <h2> {{ story }} </h2>
      {% for i in nonStories[story] %}
        <p> {{ i[0]}}: {{ i[1] }} </p>
      {% endfor %}
    {% endfor %}

    <h1> Stories you created/contributed to: </h1>
    <h2> {{ myMsg}} <h2>
    {% for story in myStories %}
      <h2> {{ story }} </h2>
      {% for i in myStories[story] %}
        <p> {{ i[0]}}: {{ i[1] }} </p>
      {% endfor %}
    {% endfor %}

    <form action = "/logout/">
      <input type = "submit" name = "action" value = "Logout">
    </form>
{% endblock %}
