{% extends "parent.html" %}

{% block title %}
  Writing Page
{% endblock %}

{% block content %}
  <h1> Behold, your new story: </h1>
  <p> {{ messageCreate }} </p>
  <form action = "/create/" method="POST">
    <p> Title: <input type = "text" name = "title"></p>
    <p> First line of story: <input type = "text" name = "content"></p>
    <input type = "submit" name = "action" value = "Create">
  </form>
  <form action = "/home/">
    <input type = "submit" name = "action" value = "Return to Home">
  </form>
{% endblock %}

  
